/** button styles **/
.tab-pane {
	margin-top: 1em;
}
div.actions {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eee;
	border-radius: 4px;
}

#pubTime {
	display: inline-block;
	position: absolute;
	left: 345px;
	top: 70px;
	width: 160px;
}

#pubHeader {
	margin-bottom: 30px;
	margin-top: 3px;
}

#pub-preview-div div {
	margin-top : 7px;
}
