<div class="row">
	<div>
		<div class="col-lg-3"> <!-- search and list view -->
			<form class="row pub-search-section"> 
				<label>Search Criteria</label><br/>
				<input id="search-term-input" type="text" class="form-control" ng-model="searchTermField"/><br/>
				<button type="submit" class="btn btn-default" ng-click="searchClick(searchTermField)">Search</button>
			</form>
			<div class="row pub-lists-section"> 
				<label>View Lists</label><br/>
				<div class="pub-list-grid-container">
					<div class="pub-list-grid" ng-grid="pubsListGrid"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 pub-list-section">
			<div id="pub-management-div">
				<button class="btn btn-default" ng-click="editSelectedPublication()">Edit Selected</button>
				<a href="#/Publication" class="btn btn-default">Create</a>
				<a href="#/Contributor" class="pull-right btn btn-default">Manage Contributors</a>
				<button class="pull-right btn btn-default" ng-click="removeFromList()" ng-show="selectedPubsLists && selectedPubsLists.length == 1 && selectedPubs && selectedPubs.length > 0">Remove From List</button>
			</div>
			<div class="pub-grid-container">
				<span ng-hide="searchTerm || selectedPubsLists && selectedPubsLists.length > 0">
			        All publications available
			    </span>
				<span ng-show="searchTerm">
			        Publications filtered by "{{searchTerm}}"
			    </span>
				<el ng-show="selectedPubsLists && selectedPubsLists.length > 0">
					<span ng-show="searchTerm">
				        and
				    </span>
				    <span ng-hide="searchTerm">
				        Publications
				    </span>
			        <span>contained in:</span> <ul><li ng-repeat="list in selectedPubsLists">
			        {{list.text}}
			        </li>
			        </ul>
			    </el>
				<div class="pub-grid" ng-grid="pubsGrid"></div>
				<div style="display:none"> <!-- Hacky solution to extract some "view configuration" into HTML due to limitations in ngGrid-->
					<div id="textFieldCellTemplate">
						<div class="ngCellText" ng-class="col.colIndex()"><span ng-cell-text>{{COL_FIELD.text}}</span></div>
					</div>
					<div id="authorsCellTemplate">
						<div class="ngCellText" ng-class="col.colIndex()">
							<span ng-cell-text>
								{{formatAuthors(COL_FIELD)}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div>

	<div>
		<form class="row"> 
 			<label>List Assignments</label><br/>
       	    <select id="lists-input" multiple class="form-control" ng-model="lists" ui-select2="listSelect2Cfg">
				<option></option>
               	<option ng-repeat="option in pubsLists | orderBy:'text'" value="{{option.id}}">{{option.text}}</option>
            </select><br/>
			<button type="submit" class="btn btn-default" ng-click="addToList()">Add To Lists</button>
		</form>
	</div>


</div>